/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
@media (max-width: 500px) {
  nav {
    display: grid;
  }
}
@media (max-width: 500px) {
  nav {
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, [col] 10rem);
    grid-template-rows: repeat(3, [row] 6rem);
    justify-items: normal;
    padding: 3rem;
  }
}
nav a {
  margin: 0 0.5rem;
  padding: 0.8rem;
  color: #fff;
  border: 1px solid #6b6e70;
  background: #ff3b3f;
  text-decoration: none;
  font-size: 2.7rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
@media (max-width: 800px) {
  nav a {
    font-size: 2.3rem;
  }
}
nav img {
  border-radius: 8rem;
  width: 15rem;
}
@media (max-width: 500px) {
  nav img {
    display: none;
  }
}
nav .first {
  /* img */
  order: 4;
}
nav .second {
  /* Weed */
  order: 3;
}
@media (max-width: 500px) {
  nav .second {
    grid-column: col 1 / span 2;
    grid-row: row;
  }
}
nav .third {
  /* Gotcha */
  order: 5;
}
@media (max-width: 500px) {
  nav .third {
    grid-column: col 2 / span 2;
    grid-row: row;
  }
}
nav .fourth {
  /* home*/
  order: 1;
}
@media (max-width: 500px) {
  nav .fourth {
    grid-column: col 1 / span 1;
  }
}
nav .fifth {
  /* about */
  order: 2;
}
@media (max-width: 500px) {
  nav .fifth {
    grid-column: col 2 / span 1;
  }
}
nav .sixth {
  /* work*/
  order: 6;
}
@media (max-width: 500px) {
  nav .sixth {
    grid-column: col 1 / span 1;
  }
}
nav .seventh {
  /* contact */
  order: 7;
}
@media (max-width: 500px) {
  nav .seventh {
    grid-column: col 2 / span 1;
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4 {
  color: #86c232;
}
h1 {
  margin: 0 0 2rem;
  font-family: 'Anton', sans-serif;
  font-size: 4rem;
}
h2 {
  padding-bottom: 10px;
  margin: 0 0 1rem;
  font-size: 3.5rem;
  font-family: 'Anton', sans-serif;
}
h3 {
  margin: 0 0 1rem;
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
}
@media (max-width: 500px) {
  h3 {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 800px) {
  h3 {
    margin-bottom: 1.5rem;
  }
}
h4 {
  font-size: 2.5rem;
  font-family: 'Anton', sans-serif;
}
a {
  font-size: 2.7rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
@media (max-width: 800px) {
  a {
    font-size: 2rem;
  }
}
ul {
  line-height: 3.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: #fff;
  font-size: 2.7rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
@media (max-width: 500px) {
  p {
    font-size: 2.7rem;
  }
}
@media (max-width: 800px) {
  p {
    font-size: 2rem;
  }
}
img {
  width: 100%;
  height: auto;
}
address {
  /* consider moving this to global */
  font-size: 2rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #fff;
}
.container {
  margin: 0;
}
@media (max-width: 500px) {
  .container {
    margin: 0;
  }
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
.container .main-content {
  background-color: #222629;
  padding: 5rem;
  display: flex;
}
.container .main-content .left {
  width: 70%;
  padding: 2rem;
}
@media (max-width: 800px) {
  .container .main-content .left {
    width: 65%;
  }
}
@media (max-width: 800px) {
  .container .main-content .left {
    padding: 2rem;
  }
}
.container .main-content .about-left {
  width: 40%;
  padding: 1rem;
}
@media (max-width: 500px) {
  .container .main-content .about-left {
    width: 100%;
    padding: 1rem;
  }
}
@media (max-width: 800px) {
  .container .main-content .about-left {
    width: 0%;
  }
}
@media (max-width: 800px) {
  .container .main-content .about-left {
    padding: 0;
  }
}
.container .main-content .about-left img {
  margin: 0 0 2rem;
}
@media (max-width: 800px) {
  .container .main-content .about-left img {
    display: none;
  }
}
@media (max-width: 800px) {
  .container .main-content .about-left p {
    display: none;
  }
}
.container .main-content .right {
  width: 25%;
  padding: 2rem;
}
@media (max-width: 800px) {
  .container .main-content .right {
    width: 35%;
  }
}
.container .main-content .right h2 {
  margin: 0 0 2rem;
}
.container .main-content .right address {
  padding: 1rem 0 0;
}
.container .main-content .right address span {
  font-size: 3rem;
}
.container .main-content .right address a {
  color: #fff;
}
.container .main-content .right li a {
  text-decoration: none;
  color: #fff;
}
.container .main-content .right [data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.container .main-content .right a.strains:hover::after {
  content: "We have a wide variety of strains to choose from!";
  position: absolute ;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-width: 200px ;
  border: 1px #808080 solid;
  padding: 8px ;
  color: #fff;
  background-color: #ff3b3f;
  z-index: 1 ;
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;
}
@media (max-width: 500px) {
  .container .main-content .right a.strains:hover::after {
    display: none;
  }
}
.container .main-content .right a.oils:hover::after {
  content: "We have CBD oils if you prefer to ingest your medicinal products orally.";
  position: absolute ;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-width: 200px ;
  border: 1px #808080 solid;
  padding: 8px ;
  color: #fff;
  background-color: #ff3b3f;
  z-index: 1 ;
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;
}
@media (max-width: 500px) {
  .container .main-content .right a.oils:hover::after {
    display: none;
  }
}
.container .main-content .right a.edibles:hover::after {
  content: "If you prefer to take yours in an edible form Weed Gotcha!";
  position: absolute ;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-width: 200px ;
  border: 1px #808080 solid;
  padding: 8px ;
  color: #fff;
  background-color: #ff3b3f;
  z-index: 1 ;
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;
}
@media (max-width: 500px) {
  .container .main-content .right a.edibles:hover::after {
    display: none;
  }
}
.container .main-content .right a.accessories:hover::after {
  content: "We also have a wide variety of accessories if you need something new or to replace.";
  position: absolute ;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-width: 200px ;
  border: 1px #808080 solid;
  padding: 8px ;
  color: #fff;
  background-color: #ff3b3f;
  z-index: 1 ;
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;
}
@media (max-width: 500px) {
  .container .main-content .right a.accessories:hover::after {
    display: none;
  }
}
.container .main-content .about-right {
  width: 100%;
  padding: 5rem 2rem;
}
@media (max-width: 500px) {
  .container .main-content .about-right {
    width: 100%;
    padding: 1rem;
  }
}
@media (max-width: 800px) {
  .container .main-content .about-right {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .container .main-content .about-right {
    padding: 8rem 0rem;
  }
}
@media (max-width: 500px) {
  .container .main-content .about-right {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container .main-content .about-right {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .container .main-content .about-right p {
    padding: 1rem 0;
  }
}
.container .main-content .about-right .card {
  margin: 1rem 0;
  display: flex;
}
@media (max-width: 500px) {
  .container .main-content .about-right .card {
    flex-direction: column;
  }
}
.container .main-content .about-right .card p {
  margin: 0 1rem;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .container .main-content .about-right .card p {
    margin: 0;
  }
}
.container .main-content .about-right .card img {
  width: 100%;
}
@media (max-width: 800px) {
  .container .main-content .about-right .card img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container .main-content .about-right .card img {
    width: 100%;
  }
}
.container .main-content .about-right .card-img {
  flex: 0 0 200px;
}
@media (max-width: 800px) {
  .container .main-content .about-right .card-img {
    flex: 0 0 200px;
  }
}
.container .main-content .products {
  width: 100%;
}
.container .main-content .products ul {
  display: flex;
}
@media (max-width: 500px) {
  .container .main-content .products ul {
    flex-direction: column;
  }
}
.container .main-content .products li {
  padding: 0.3rem;
}
.container .main-content .products .strains {
  flex: 1.5023;
}
.container .main-content .products .oils {
  flex: 1.5023;
}
.container .main-content .products .edibles {
  flex: 1.42;
}
.container .main-content .products .accessories {
  flex: 1.5023;
}
@media (max-width: 500px) {
  .container .main-content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
  }
  .container .main-content .left {
    width: 100%;
    padding: 3rem;
  }
  .container .main-content .right {
    width: 100%;
    padding: 3rem;
  }
}
.footer-content {
  padding: 10rem 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #86c232;
}
@media (max-width: 500px) {
  .footer-content {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .footer-content {
    padding: 10rem;
  }
}
.footer-content p {
  color: #fff;
  font-size: 2.7rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.footer-content a {
  color: #fff;
  text-decoration: none;
  font-size: 2.7rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.footer-content .left-footer {
  padding: 2rem 5rem;
}
@media (max-width: 800px) {
  .footer-content .left-footer {
    padding: 2rem 2rem;
  }
}
.footer-content .left-footer ul {
  display: flex;
}
.footer-content .left-footer li {
  padding: 0.5rem;
}
.footer-content .left-footer .fa-3x {
  color: #fff;
}
.footer-content .middle-footer {
  padding: 2rem 5rem;
}
@media (max-width: 500px) {
  .footer-content .middle-footer {
    order: 2;
  }
}
@media (max-width: 800px) {
  .footer-content .middle-footer {
    padding: 2rem 2rem;
  }
}
.footer-content .right-footer {
  padding: 2rem 5rem;
}
@media (max-width: 500px) {
  .footer-content .right-footer {
    order: 1;
  }
}
@media (max-width: 800px) {
  .footer-content .right-footer {
    padding: 2rem 2rem;
  }
}
.footer-content .right-footer h4 {
  color: #fff;
}
.footer-content .right-footer address {
  text-align: end;
}
@media (max-width: 500px) {
  .footer-content .right-footer address {
    text-align: justify;
  }
}
@media (max-width: 500px) {
  .footer-content {
    padding: 3rem;
  }
}
header .login {
  height: 5rem;
  display: flex;
  flex-direction: row-reverse;
  background-color: #86c232;
  box-shadow: inset 0px -1px 3px 0px #000000;
  background-color: #61892f;
}
header .login button {
  width: 10rem;
  height: 5rem;
  padding: 0.8rem;
  color: #fff;
  border: 1px solid #6b6e70;
  background: #ff3b3f;
  text-decoration: none;
  font-size: 2.7rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
header .header-content {
  padding: 5rem;
  background-color: #86c232;
}
@media (max-width: 500px) {
  header .header-content {
    padding: 6rem 3rem 0;
  }
}
header .header-content h1 {
  margin: 0 0 2rem;
  font-family: 'Anton', sans-serif;
  font-size: 4rem;
  color: #fff;
}
@media (max-width: 800px) {
  header .header-content h1 {
    margin: 0 0.7rem 2rem;
  }
}
