.footer-content {
    padding: @section-padding + 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @header-footer;

    p {
        color: @font-styles;
        .banana();
    }

    a {
        color: @font-styles;
        text-decoration: none;
        .banana()
    }
    @media @mobile{ 
        padding: @mobile-padding;
    }
}