.header-content {
    padding: @section-padding;
    background-color: @header-footer;

    h1 {
        margin: 0 0 2rem;
        font-family: @h-fonts;
        font-size: 4rem;
        color: @font-styles;
    }
}