.container {
    margin: @page-margin;
	@media  @mobile { margin: @page-margin; }
	@media @mobile {width: 100%;}

	.main-content {
		background-color: @main-content;
		padding: @section-padding;
		display: flex;

		.left {
			width: 70%;
			/*padding: 5rem;*/
			@media @tablet {width: 65%;}
			@media @tablet {padding: 2rem;}

		}

		.about-left {
			width: 50%;
			padding: 1rem;
			@media @mobile {
				width: 100%;
				padding: 1rem;
			}

			img {
				margin: 0 0 2rem;
			}
		}

		.right {
			width: 25%;
			padding: 2rem;
			@media @tablet {width: 35%;}
		
			h2 {
				margin: 0 0 2rem;
			}
		
			address {
				padding: 1rem 0 0;
				span {
					font-size: 3rem;
				}
			}
			address a {
				color: @font-styles;
			}

			li a {
				text-decoration: none;
				color: #fff;
			}
			[data-tooltip] {
				position: relative;
				z-index: 2;
				cursor: pointer;
			}

			a.strains:hover::after {
				content: "We have a wide variety of strains to choose from!" ;
				position: absolute ;
				bottom: 150%;
				left: 50%;
				  margin-bottom: 5px;
				margin-left: -80px;
				padding: 7px;
				width: 160px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				min-width: 200px ;
				border: 1px #808080 solid ;
				padding: 8px ;
				color: #fff;
				background-color: #ff3b3f;
				z-index: 1 ;
				  text-align: center;
				font-size: 2rem;
				line-height: 1.2;
				@media @mobile {
					display: none;
				}
			}

			a.oils:hover::after {
				content: "We have CBD oils if you prefer to ingest your medicinal products orally." ;
				position: absolute ;
				bottom: 150%;
				left: 50%;
				  margin-bottom: 5px;
				margin-left: -80px;
				padding: 7px;
				width: 160px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				min-width: 200px ;
				border: 1px #808080 solid ;
				padding: 8px ;
				color: #fff;
				background-color: #ff3b3f;
				z-index: 1 ;
				  text-align: center;
				font-size: 2rem;
				line-height: 1.2;
				@media @mobile {
					display: none;
				}
			}

			a.edibles:hover::after {
				content: "If you prefer to take yours in an edible form Weed Gotcha!" ;
				position: absolute ;
				bottom: 150%;
				left: 50%;
				  margin-bottom: 5px;
				margin-left: -80px;
				padding: 7px;
				width: 160px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				min-width: 200px ;
				border: 1px #808080 solid ;
				padding: 8px ;
				color: #fff;
				background-color: #ff3b3f;
				z-index: 1 ;
				  text-align: center;
				font-size: 2rem;
				line-height: 1.2;
				@media @mobile {
					display: none;
				}
			}

			a.accessories:hover::after {
				content: "We also have a wide variety of accessories if you need something new or to replace." ;
				position: absolute ;
				bottom: 150%;
				left: 50%;
				  margin-bottom: 5px;
				margin-left: -80px;
				padding: 7px;
				width: 160px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				min-width: 200px ;
				border: 1px #808080 solid ;
				padding: 8px ;
				color: #fff;
				background-color: #ff3b3f;
				z-index: 1 ;
				  text-align: center;
				font-size: 2rem;
				line-height: 1.2;
				@media @mobile {
					display: none;
				}
			}
		}
		
		.about-right {
			width: 50%;
			padding: 5rem 2rem;
			@media @mobile {
				width: 100%;
				padding: 1rem 0;
			}

			p {
				@media @mobile {
					padding: 1rem;
				}
			}

			.card {
				margin: 1rem 0;
				display: flex;
				p {
					margin: 0 1rem;
				}
			}

			.card img {
				width: 35%;
			}
		}

		.products {
			width: 100%;

			ul {
				display: flex;
				@media @mobile {flex-direction: column;}
			}
			
			li {
				padding: 0.3rem;
			}
			
			.strains {
				flex: 1.5023;
			}
			.oils {
				flex: 1.5023;
			}
			.edibles {
				flex: 1.4200;
			}
			.accessories {
				flex: 1.5023;
			}
		}

        @media  @mobile { 
			padding: @mobile-padding;
			display: flex;
			flex-direction: column;

			.left {
				width: 100%;
				padding: @mobile-padding;
			}

			.right {
				width: 100%;
				padding: @mobile-padding;
			}
        }
	}
}
