.container {
    margin: @page-margin;
	@media  @mobile { margin: @page-margin; }
	@media @mobile {width: 100%;}

	.main-content {
		background-color: @main-content;
		padding: @section-padding;
		display: flex;

		.left {
			width: 70%;
			padding: 5rem;
			@media @tablet {width: 65%;}
	
			h1 {
				margin: 0 0 2rem;
				font-family: @h-fonts;
				font-size: 4rem;
			}
		
			h2 {
				margin: 0 0 1rem;
			}
		
			h3 {
				margin: 0 0 1rem;
			}

			p {
				.banana()
			}

			ul {
				line-height: 3.5rem;
			}
		}

		.about-left {
			width: 50%;
			padding: 5rem;
			@media @mobile {
				width: 100%;
				padding: 1rem;
			}

			img {
				margin: 0 0 2rem;
			}

			p {
				.banana()
			}
		}

		.right {
			width: 25%;
			padding: 2rem;
			@media @tablet {width: 35%;}
		
			h2 {
				margin: 0 0 2rem;
			}
		
			address {
				padding: 1rem 0 0;
				span {
					font-size: 3rem;
				}
			}
			address a {
				color: @font-styles;
			}

			p, a {
				.banana()
			}

			ul {
				line-height: 3.5rem;
			}
		}
		
		.about-right {
			width: 50%;
			padding: 8rem 0;
			@media @mobile {
				width: 100%;
				padding: 1rem 0;
			}

			p {
				.banana()
			}
		}

		.products {
			width: 100%;

			ul {
				display: flex;
				@media @mobile {flex-direction: column;}
			}
			
			li {
				padding: 1rem;
			}
			
			.strains {
				flex: 1.5023;
			}
			.oils {
				flex: 1.5023;
			}
			.edibles {
				flex: 1.4200;
			}
			.accessories {
				flex: 1.5023;
			}

			p {
				.banana();
			}
		}

		h1, h2, h3, h4 {
			/* consider moving this to global */
			color: @header-footer;
		}

		h2 {
			/* consider moving this to global */
			font-size: 3.5rem;
			font-family: @h-fonts;
		}
		
		h3 {
			/* consider moving this to global */
			font-size: 3rem;
			font-family: @h-fonts;
			@media @mobile {margin-bottom: 1.5rem;}
			@media @tablet {margin-bottom: 1.5rem;}
		}

		h4 {
			/* consider moving this to global */
			font-size: 2.5rem;
			font-family: @h-fonts;
		}

		address {
			/* consider moving this to global */
			font-size: 2rem;
			font-family: 'Yanone Kaffeesatz', sans-serif;
			color: @font-styles;
		}

		p {
			/* consider moving this to global */
			color: @font-styles;
        }

        @media  @mobile { 
			/* what is this all about? */
			padding: @mobile-padding;
			display: flex;
			flex-direction: column;

			.left {
				width: 100%;
				padding: @mobile-padding;
			}

			.right {
				width: 100%;
				padding: @mobile-padding;
			}

			.left h2 {
				display: none;
			}
		
			.left h3 {
				margin: 2rem 0 2rem;
			}
        }
	}
}
