@main-content: #efefef;
@font-styles: #949090;
@button-styles: #ff3b3f;
@header-footer: #caebf2;

@h-fonts: 'Anton', sans-serif;;

@page-margin: 0;
@section-padding: 5rem;

@mobile-padding: 3rem;
@mobile-header-padding: 6rem 3rem 0;